.myTable{
    width: 100%;
    font-size: 130%;
    border: 1px solid #f8fdfb;
}
.myTable tr:nth-child(odd){
    background-color: #ffffff;
}
.myTable tr:nth-child(even){
    background-color: #f8fdfb;
}

.myTable td:nth-child(odd) {
    width: 5%;
}
.myTable td:nth-child(even) {
    width: 95%;
}

.myTable td{
    border: 1px solid #ebf0ee;
    padding: 5px 5px 5px 5px;
}

.tableDashboard{
    width: 100%;
    font-size: 130%;
    box-shadow: 1px 1px 1px #888888;
}

.tableDashboard, th{
    border: solid #D8E8FF 2px;
}

.tableDashboard, th, td {
    padding: 10px 0px 10px 10px;
}

.tableDashboard tr:hover td {
    background-color:#E7ECEA;
}
